{{!
    This file is part of Moodle - http://moodle.org/
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_group/comboboxsearch/resultset

    Wrapping template for returned result items.

    Context variables required for this template:
    * groups - Our returned groups to render.
    * instance - The instance ID of the combo box.
    * searchterm - The entered text to find these results.
    * hasgroups - Allow the handling where no users exist for the returned search term.

    Example context (json):
    {
        "groupwithoutgrouping": [
            {
                "id": 2,
                "name": "Foo bar",
                "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=2"
            },
            {
                "id": 3,
                "name": "Bar Foo",
                "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=3"
            }
        ],
        "groupings": [
            {
                "id": 1,
                "name": "Grouping 1",
                "groups": [
                    {
                        "id": 4,
                        "name": "Foo bar",
                        "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=4"
                    },
                    {
                        "id": 5,
                        "name": "Bar Foo",
                        "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=5"
                    }
                ]
            },
            {
                "id": 2,
                "name": "Grouping 2",
                "groups": [
                    {
                        "id": 6,
                        "name": "Foo bar",
                        "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=6"
                    },
                    {
                        "id": 7,
                        "name": "Bar Foo",
                        "groupimageurl": "http://foo.bar/grade/report/grader/index.php?id=42&userid=7"
                    }
                ]
            }
        ],
        "instance": 25,
        "searchterm": "Foo",
        "hasresults": true
    }
}}
{{<core/local/comboboxsearch/resultset}}
    {{$listid}}groups{{/listid}}
    {{$results}}
        {{#groupwithoutgrouping}}
            {{>core_group/comboboxsearch/resultitem}}
        {{/groupwithoutgrouping}}

        {{#groupings}}
            <li class="grouping-menu">
                <a class="btn dropdown-toggle"
                    href="#"
                    role="button"
                    data-target="#toggle-grouping-{{id}}"
                    aria-expanded="false"
                    data-toggle="dropdown"
                    data-action="togglegrouping">
                    {{name}}
                </a>

                <ul class="toggle-grouping-target collapse" id="toggle-grouping-{{id}}">
                    {{#groups}}
                        {{>core_group/comboboxsearch/resultitem}}
                    {{/groups}}
                </ul>
            </li>
        {{/groupings}}
    {{/results}}
{{/core/local/comboboxsearch/resultset}}
